<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.tonapplication" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>TonApplication</name>
    <description>Une brève description de ton application</description>
    <author email="email@example.com" href="http://example.com">Ton Nom</author>
    <content src="index.html" />
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    <access origin="*" />
</widget>
